<div class="">
  <form class="md-float-material form-material" #CalcForm="ngForm" (ngSubmit)="calculate(CalcForm)">
    <div class="input-group input-group-lg">
      <span class="input-group-text input-text-border"><p class="input-text">Міжряддя</p></span>
      <input type="number" min="1" step="0.1" #bRows_input="ngModel" name="bRows" [ngModel]="bRows" required
             class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <span class="input-group-text">(см)</span>
    </div>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-text input-text-border"><p class="input-text">Норма висіву</p></span>
      <input type="text" inputmode="numeric" ngModel="ctrl.dLicence" #gp_input="ngModel" name="gp" [ngModel]="gp"
             (input)="gpData(gp_input)" required class="form-control" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-lg"/>
      <span class="input-group-text">(нас)</span>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-lg btn-secondary" style="width: 100%" [disabled]="CalcForm.invalid">
        Обрахувати
      </button>
    </div>
  </form>
  <br>
  <table style="width:100%; color: white; font-size: 1.2rem" [hidden]="!isCounted">
    <tr>
      <td>Метер погонний:</td>
      <td>{{mp}}</td>
      <td>(м)</td>
    </tr>
    <tr>
      <td>Відстань між насінинками:</td>
      <td>{{d}}</td>
      <td>(см)</td>
    </tr>
    <tr>
      <td>Штук / метер:</td>
      <td>{{numbOnM}}</td>
      <td></td>
    </tr>
  </table>
</div>
