<div class="">
  <form class="md-float-material form-material" #CalcForm="ngForm" (ngSubmit)="calculate(CalcForm)">
    <div class="input-group input-group-lg">
      <span class="input-group-text input-text-border"><p class="input-text">Міжряддя</p></span>
      <input type="number" min="1" step="0.1" #bRows_input="ngModel" name="bRows" [ngModel]="bRows" required
             class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <span class="input-group-text">(см)</span>
    </div>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-text input-text-border"><p class="input-text">Обрахункова відстань</p></span>
      <input type="text" inputmode="numeric" ngModel="ctrl.dLicence" #ob_input="ngModel" name="ob" [ngModel]="ob"
             (input)="obData(ob_input)" required class="form-control" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-lg"/>
      <span class="input-group-text">(см)</span>
    </div>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-text input-text-border"><p class="input-text">Кількість рослин</p></span>
      <input type="text" inputmode="numeric" ngModel="ctrl.dLicence" #nr_input="ngModel" name="nr" [ngModel]="nr"
             (input)="nrData(nr_input)" required class="form-control" aria-label="Sizing example input"
             aria-describedby="inputGroup-sizing-lg"/>
      <span class="input-group-text">(нас)</span>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-lg btn-secondary" style="width: 100%" [disabled]="CalcForm.invalid">
        Обрахувати
      </button>
    </div>
  </form>
  <br>
  <table style="width:100%; color: white; font-size: 1.2rem" [hidden]="!isCounted">
    <tr>
      <td>Метер погоннийу:</td>
      <td>{{mp}}</td>
      <td>(м)</td>
    </tr>
    <tr>
      <td>Густина посіву:</td>
      <td>{{gp}}</td>
      <td>(шт/мп)</td>
    </tr>

  </table>
</div>
